{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Vishwavani</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'dashboard/images/favicon.png' %}" />
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'dashboard/vendors/feather/feather.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/vendors/ti-icons/css/themify-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/vendors/css/vendor.bundle.base.css' %}" />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'dashboard/vendors/ti-icons/css/themify-icons.css' %}" />
    <link href="{% static 'dashboard/vendors/alert-nice-toast/nice-toast-js.css' %}" rel="stylesheet" type="text/css" />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'dashboard/css/vertical-layout-light/style.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/css/custom.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/css/fullscreen-loader.css' %}" />
    {% block header_includes %}

    {% endblock %}
    <!-- endinject -->
  </head>
  <body>
    <div class="loading">Loading&#8230;</div>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo mr-5" href="{% url 'home' %}"><img src="{% static 'logo.png' %}" class="mr-2" alt="logo" /></a>
          <a class="navbar-brand brand-logo-mini" href="{% url 'home' %}"><img src="{% static 'logo.png' %}" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize"><span class="icon-menu"></span></button>

          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown"><img src="{% static 'logo.png' %}" alt="profile" /></a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                <a class="dropdown-item">
                  <i class="ti-settings text-primary"></i>
                  Settings
                </a>
                <a class="dropdown-item">
                  <i class="ti-power-off text-primary"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas"><span class="icon-menu"></span></button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">ePaper</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'epaper-add-new' %}">Add ePaper</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'epaper-home' %}">Manage ePapers</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'epaper-variants' %}">Edition Variants</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#editions" aria-expanded="false" aria-controls="editions">
                <i class="icon-columns menu-icon"></i>
                <span class="menu-title">Editions</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="editions">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'editions' %}">Manage Editions</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'sub-editions' %}">ManageSub Editions</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'editions-add-new' %}">New Edition</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'sub-editions-add-new' %}">New Sub Edition</a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">
                <i class="icon-power menu-icon"></i>
                <span class="menu-title">Logout</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            {% block body %}

            {% endblock %}
          </div>

          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2024. Viswavaani | All rights reserved.</span>
            </div>
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Developed by <a href="https://www.nichedesignz.com/" target="_blank">Team ND</a></span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <!-- plugins:js -->
    <script src="{% static 'dashboard/js/sweetalert2.js' %}"></script>
    <script src="{% static 'dashboard/vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'dashboard/js/template.js' %}"></script>
    <script src="{% static 'dashboard/js/app.js' %}"></script>
    <script src="{% static 'dashboard/js/axios.min.js' %}"></script>
    <script src="{% static 'dashboard/vendors/alert-nice-toast/nice-toast-js.min.js' %}"></script>

    <!-- Custom js for this page -->
    {% block footer_includes %}

    {% endblock %}

    <!-- JS Codes -->

    {% block js_code_block %}

    {% endblock %}
  </body>
</html>
