{% extends 'base/base.html' %}
{% load static %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Manage Editions</h4>
                    <p class="card-description">
                        <code>List Editions</code>
                    </p>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Sub Editions</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for edition in editions %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ edition.name }}</td>

                                    <td>
                                        <div class="btn-group">
                                            <button type="button "
                                                    class="btn btn-sm {% if edition.is_active %}btn-success{% else %}btn-danger{% endif %}" id="editionButton{{ edition.id }}">
                                                {% if edition.is_active %}
                                                    Active
                                                {% else %}
                                                    Inactive
                                                {% endif %}
                                            </button>
                                            <button type="button"
                                                    class="btn btn-sm  {% if edition.is_active %}btn-success{% else %}btn-danger{% endif %} dropdown-toggle dropdown-toggle-split"
                                                    id="editionActionButton{{ edition.id }}" data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                <span class="sr-only">Change Status</span>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="editionActionButton{{ edition.id }}">
                                                <a class="dropdown-item update-status {% if edition.is_active %}disabled{% endif %}" href="#"
                                                   data-status="1" data-edition-id="{{ edition.id }}">Activate Edition</a>
                                                <a class="dropdown-item update-status {% if edition.is_active == False %}disabled{% endif %}"
                                                   href="#" data-status="0" data-edition-id="{{ edition.id }}">Deactivate Editions</a>
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        {% for subedition in edition.children.all %}
                                            <div class="mb-2 row">
                                                {{ forloop.counter }}. <strong><a class="text-success">{{ subedition.name }}</a></strong>
                                            </div>
                                        {% empty %}
                                            <div class="mb-2 row">
                                                <a class="text-danger">No sub-editions</a>
                                            </div>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-primary" href="{% url 'editions-rename' edition.id %}">Rename</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_code_block %}
    <script>
        $(document).ready(function () {
            $('.update-status').on('click', function (event) {
                event.preventDefault()
                var status = $(this).data('status')
                var editionId = $(this).data('edition-id')
                var url = "{% url 'api-update-edition-status' %}"
                postJsonDataAsFormData(
                    url,
                    {status: status, edition_id: editionId},
                    function (result, response) {
                        if (result && response.result == true) {
                            updatePaperStatus(editionId, status == '1')
                        }
                    },
                    true,
                    true
                )
            })
        });

        function updatePaperStatus(editionId, newStatus) {
            var editionButtonId = "#editionButton" + editionId;
            var editionActionButtonId = "#editionActionButton" + editionId;
            var statusText = newStatus ? "Active" : "Inactive";
            $("a.update-status").removeClass("disabled");
            $(editionButtonId).text(statusText);
            if (newStatus) {
                $(editionButtonId).removeClass("btn-danger").addClass("btn-success");
                $(editionActionButtonId).removeClass("btn-danger").addClass("btn-success");
            } else {
                $(editionButtonId).removeClass("btn-success").addClass("btn-danger");
                $(editionActionButtonId).removeClass("btn-success").addClass("btn-danger");
            }
        }
    </script>
{% endblock %}